USE [DB_JADWAL_KULIAH]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26/05/2020 17:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dosen]    Script Date: 26/05/2020 17:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dosen](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nama_dosen] [nvarchar](30) NOT NULL,
	[kode_hari] [bigint] NOT NULL,
	[kode_matkul] [bigint] NOT NULL,
	[kode_kls] [bigint] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Dosen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hari]    Script Date: 26/05/2020 17:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hari](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nama_hari] [nvarchar](10) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Hari] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kelas]    Script Date: 26/05/2020 17:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kelas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[kls] [nvarchar](5) NOT NULL,
	[kode_hari] [bigint] NOT NULL,
	[kode_matkul] [bigint] NOT NULL,
	[kode_dosen] [bigint] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Kelas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MataKuliah]    Script Date: 26/05/2020 17:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MataKuliah](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[matkul] [nvarchar](30) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MataKuliah] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dosen] ON 

INSERT [dbo].[Dosen] ([id], [nama_dosen], [kode_hari], [kode_matkul], [kode_kls], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Abdul Rohman', 1, 1, 1, N'1', CAST(N'2020-05-20T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Dosen] ([id], [nama_dosen], [kode_hari], [kode_matkul], [kode_kls], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Setiawan', 2, 2, 2, N'1', CAST(N'2020-05-22T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Dosen] ([id], [nama_dosen], [kode_hari], [kode_matkul], [kode_kls], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Abdul Rohman', 2, 1, 3, N'1', CAST(N'2020-05-23T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-23T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Dosen] OFF
SET IDENTITY_INSERT [dbo].[Hari] ON 

INSERT [dbo].[Hari] ([id], [nama_hari], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Senin', N'1', CAST(N'2020-05-20T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Hari] ([id], [nama_hari], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Selasa', N'1', CAST(N'2020-05-22T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hari] OFF
SET IDENTITY_INSERT [dbo].[Kelas] ON 

INSERT [dbo].[Kelas] ([id], [kls], [kode_hari], [kode_matkul], [kode_dosen], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'1IA01', 1, 1, 1, N'1', CAST(N'2020-05-02T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Kelas] ([id], [kls], [kode_hari], [kode_matkul], [kode_dosen], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'1IA01', 2, 2, 2, N'1', CAST(N'2020-05-22T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Kelas] ([id], [kls], [kode_hari], [kode_matkul], [kode_dosen], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'1IA02', 2, 1, 3, N'1', CAST(N'2020-05-23T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-23T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kelas] OFF
SET IDENTITY_INSERT [dbo].[MataKuliah] ON 

INSERT [dbo].[MataKuliah] ([id], [matkul], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Pendidikan Agama Islam', N'1', CAST(N'2020-05-20T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[MataKuliah] ([id], [matkul], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Matematika Dasar', N'1', CAST(N'2020-05-22T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-22T00:00:00.000' AS DateTime))
INSERT [dbo].[MataKuliah] ([id], [matkul], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Grafik Komputer', N'1', CAST(N'2020-05-23T00:00:00.000' AS DateTime), N'1', CAST(N'2020-05-23T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MataKuliah] OFF
